.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#barra-lateral{
padding-top: 100px;
padding-bottom: 100px;

}

#imagen{

margin-right: 300px;
  
}

#barra-lateral .boton{
border: 1px solid black;
width: 250px;

}

/*Responsive*/
/*desde 0px hasta 888px habrá estos estilos*/
@media(max-width: 1823px){
  #barra-lateral{
    width: 100px;
    
    }


  #barra-lateral .boton{
    
    width: 150px;
    
    }

}

@media(max-width: 1147px){

  #barra-lateral .boton{
    
    width: 100px;
    
    }

}